hr{
    opacity: 1;
    border: 1px solid rgb(87, 79, 74);
    width: 90%;
    margin-left: 5%;
}
.title{
    background-color: rgb(87, 79, 74);
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    overflow: hidden;
}
.col{
    display: grid;
    grid-template-columns: 30% 70%;
}
.colLeft{
    background-color: #EAD7C7;
    min-height: 100vh;
}
.profilePhoto{
    width: 70%;
    margin:5% 15%;
    border-radius: 50%;
    border:5px solid rgb(87, 79, 74);
}
.leftText{
    margin:2% 10%;
    font-weight: bolder;
    font-size: 16px;
    overflow: hidden;
}
.leftText p a{
    color: black;
    text-decoration: none;
    margin-right: 2px;
}
.colRightTop{
    width: 100%;
    background-color: rgb(87, 79, 74);  
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size:36px;
    color: white;
    overflow: hidden;
}
.colRightBottom{
    margin-top: 2%;
    width: 100%;
}
.colRightBottomText{
    margin:1% 0 0 10% ;   
    font-weight: bolder;
    font-size: 16px;
}
.colRightBottomComment{
    margin:0 0 1% 12%;
    font-weight: bolder;
    font-size: 16px;
}